<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IWeather" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8097/WcfWeatherService" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IWeather" contract="WeatherService.IWeather"
                name="WSDualHttpBinding_IWeather">
                <identity>
                    <userPrincipalName value="DESKTOP-JKS2017\kozen" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>